.building{    
    margin-top: 150px;
    margin-right: 1px;
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

    }
    &__img{
        max-width: 350px;
        max-height: 307px;        
    }
}