.building{    
    margin-top: 150px;
    margin-right: 1px;
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

    }
    &__img{
        max-width: auto;
        height: auto;        
    }
    &__item{
        width: 25%;
    }
}